examples/mnist_mlp/mnist_mlp_model_params.json filter=lfs diff=lfs merge=lfs -text
examples/mnist_mlp/sample_data.json filter=lfs diff=lfs merge=lfs -text
examples/mnist_mlp/mnist_mlp_model_params.json.gz filter=lfs diff=lfs merge=lfs -text
examples/mnist_mlp/sample_data.json.gz filter=lfs diff=lfs merge=lfs -text
examples/cifar10_cnn/cifar10_cnn_model_params.json filter=lfs diff=lfs merge=lfs -text
examples/cifar10_cnn/sample_data.json filter=lfs diff=lfs merge=lfs -text
examples/cifar10_cnn/cifar10_cnn_model_params.json.gz filter=lfs diff=lfs merge=lfs -text
examples/cifar10_cnn/sample_data.json.gz filter=lfs diff=lfs merge=lfs -text
examples/mnist_mlp/mnist_mlp_example.ipynb filter=lfs diff=lfs merge=lfs -text
examples/cifar10_cnn/cifar10_cnn_example.ipynb filter=lfs diff=lfs merge=lfs -text
